body {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

pre.highlight {
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 100%;
  text-align: center;
}

.date {
  color: #666;
  text-align: center;
  display: block;
}